[submodule "week2-chaijingning"]
	path = week2-chaijingning
	url = https://github.com/chaijingning/chaijingning.github.io.git
[submodule "jimmytiew.github.io"]
	path = jimmytiew.github.io
	url = https://github.com/jimmytiew/jimmytiew.github.io.git
[submodule "ziyicressida-243021.github.io"]
	path = ziyicressida-243021.github.io
	url = https://github.com/ziyicressida-243021/ziyicressida-243021.github.io.git
[submodule "wongyiheng.github.io"]
	path = wongyiheng.github.io
	url = https://github.com/wongyiheng/wongyiheng.github.io.git
[submodule "elisha243100.github.io"]
	path = elisha243100.github.io
	url = https://github.com/elisha243100/elisha243100.github.io.git
[submodule "sleejing-243109.github.io"]
	path = sleejing-243109.github.io
	url = https://github.com/sleejing/sleejing-243109.github.io.git
[submodule "chin-jiaxuan-janettt115.github.io"]
	path = chin-jiaxuan-janettt115.github.io
	url = https://github.com/chin-jiaxuan-janettt115/chin-jiaxuan-janettt115.github.io.git
[submodule "jiatong0626.github.io"]
	path = jiatong0626.github.io
	url = https://github.com/jiatong0626/jiatong0626.github.io.git
[submodule "angyenxin.github.io"]
	path = angyenxin.github.io
	url = https://github.com/angyenxin/angyenxin.github.io.git
[submodule "jasonlee0706.github.io"]
	path = jasonlee0706.github.io
	url = https://github.com/jasonlee0706/jasonlee0706.github.io.git
[submodule "yijun243042-afk.github.io"]
	path = yijun243042-afk.github.io
	url = https://github.com/yijun243042-afk/yijun243042-afk.github.io.git
[submodule "weihong1221.github.io"]
	path = weihong1221.github.io
	url = https://github.com/weihong1221/weihong1221.github.io.git
[submodule "tamszeqi.github.io"]
	path = tamszeqi.github.io
	url = https://github.com/tamszeqi/tamszeqi.github.io.git
[submodule "yihon233025-ux.github.io"]
	path = yihon233025-ux.github.io
	url = https://github.com/yihon233025-ux/yihon233025-ux.github.io.git
[submodule "eleiceatoi.github.io"]
	path = eleiceatoi.github.io
	url = https://github.com/eleiceatoi/eleiceatoi.github.io.git
[submodule "brianloo.github.io"]
	path = brianloo.github.io
	url = https://github.com/brianloo/brianloo.github.io.git
[submodule "yiwins.github.io"]
	path = yiwins.github.io
	url = https://github.com/yiwins/yiwins.github.io.git
[submodule "davewong92.github.io"]
	path = davewong92.github.io
	url = https://github.com/davewong92/davewong92.github.io.git
[submodule "yapjiaxuan.github.io"]
	path = yapjiaxuan.github.io
	url = https://github.com/yapjiaxuan/yapjiaxuan.github.io.git
[submodule "mayquin243020-del.github.io"]
	path = mayquin243020-del.github.io
	url = https://github.com/mayquin243020-del/mayquin243020-del.github.io.git
